 @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600&family=Space+Mono:wght@400;600');

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: #000;
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 100% !important;
}

.wordmark {
  margin-left: 10vw;
  margin-bottom: 0;
}

h1 {
  filter: drop-shadow(0 0 0.75rem #000);
  font-family: 'Space Grotesk', monospace;
  color: #fff;
  text-align: left;
  font-size: 30pt;
  font-weight: 600;
  line-height: 1.1em;
}

h3 {
  filter: drop-shadow(0 0 0.75rem #000);
  font-family: 'Space Grotesk', monospace;
  color: #fff;
  text-align: left;
  font-size: 13pt;
  font-weight: 400;
  margin-top: -1.3em;
}

#statsHeader {
  filter: drop-shadow(0 0 0.75rem #000);
  margin-top: 41px;
  margin-right: 10vw;
  margin-bottom: 0;
  width: auto;
  color: #fff;
  font-family: 'Space Grotesk', monospace;
  float: right;
}

#spaceMap {
  float: left;
}

#spaceMapImg {
  margin-right: 2em;
}

.tabLabel {
  padding-left: 1vw;
}

.boxImg {
  height: 75px;
  margin-left: 0.8em;
}

#colourBar {
  filter: drop-shadow(0 0 0.75rem #000);
  height: 2px;
  background-color: #cf2b02;
  border: 0;
  transition: background-color 2s ease;
  margin-right: 10vw;
  margin-left: 10vw;
}

#gameBox {
  font-size: 16px;
  overflow-y: scroll;
  background-color: #000;
  border: 1px solid #fff;
  filter: drop-shadow(0 0 0.75rem #000);
  border-radius: 5px;
  padding: 10px;
  font-family: 'Space Mono', monospace;
  color: #fff;
  height: 50vmin;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  line-height: 1.6;
}

#userInput{
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 18px;
  background: #000;
  border: 1px solid #fff;
  filter: drop-shadow(0 0 0.75rem #000);
  border-radius: 5px;
  font-family: 'Space Mono', monospace;
  color: #ffb8b8;
  font-weight: 600;
  padding: 10px;
  height: 22px;
}

#stats {
  filter: drop-shadow(0 0 0.75rem #000);
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 12pt;
  color: #fff;
  font-family: 'Space Mono', monospace;
  text-align: center;
  transition: color 2s ease;
}

.gameWrapper {
  margin-top: 60px;
  margin-right: 22vw;
  margin-left: 22vw;
}

#bgRed {
  position: absolute;
   background-image: linear-gradient(to top, 
   #cf2b02, 
   #000000);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 1;
  transition: opacity 2s ease;
}

#bgBlue {
  position: absolute;
  background-image: linear-gradient(to top, 
  #024acf, 
  #000000);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: opacity 2s ease;
}

#bgWhite {
  position: absolute;
  background-image: linear-gradient(to top, 
  #ffffff, 
  #000000);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: opacity 2s ease;
}

#bgOrange {
  position: absolute;
  background-image: linear-gradient(to top, 
  #CF9902, 
  #000000);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: opacity 2s ease;
}

#bgPurple {
  position: absolute;
  background-image: linear-gradient(to top, 
  #28005c, 
  #32003c, 
  #2b0023, 
  #1f0011, 
  #000000);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: opacity 2s ease;
}

#bgSky {
  position: absolute;
  background-image: linear-gradient(to top, 
  #00d6e0, 
  #3997be, 
  #4f5b7e,
  #372c39, 
  #000000);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: opacity 2s ease;
}

.tBlue {
  color: #028ecf;
}

.tGrey {
  color: #7a7a7a;
}

.tRed {
  color: #cf2b02
}

.tGreen {
  color: #21b500;
}

.Typewriter__cursor {
  display: none;
}

[contenteditable] {
  outline: 0px solid transparent;
}

/* RESPONSIVE COLUMNS */

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWELVE  */
.span_12_of_12 {
	width: 100%;
}

.span_11_of_12 {
  	width: 91.53%;
}
.span_10_of_12 {
  	width: 83.06%;
}

.span_9_of_12 {
  	width: 74.6%;
}

.span_8_of_12 {
  	width: 66.13%;
}

.span_7_of_12 {
  	width: 57.66%;
}

.span_6_of_12 {
  	width: 49.2%;
}

.span_5_of_12 {
  	width: 40.73%;
}

.span_4_of_12 {
  	width: 32.26%;
}

.span_3_of_12 {
  	width: 23.8%;
}

.span_2_of_12 {
  	width: 15.33%;
}

.span_1_of_12 {
  	width: 6.866%;
}

/*  GO FULL WIDTH ON MOBILE */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
    
    .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
	width: 100%; 
	}
}


/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}